#FaceBookLogs {
  padding-top: 100px;
}

.FaceBookLogs-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

.FaceBookLogs-allPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.FaceBookLogs-post {
  box-shadow: 1px 1px 1px 1px black;
  width: 31%;
  padding: 15px;
  margin-bottom: 10px;
  height: min-content;
}

.FaceBookLogs-post-header {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.FaceBookLogs-post-header-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.FaceBookLogs-post-header-content {
  height: 40px;
}

.FaceBookLogs-post-header-content-1 {
  font-weight: bold;
  font-size: 14px;
}

.FaceBookLogs-post-header-content-2 {
  font-size: 12px;
}

.FaceBookLogs-post-caption {
  word-wrap: break-word;
}
