.component-box {
  display: flex;
  flex-direction: column;
}

.past-events,
.upcoming-events {
  display: flex;
  width: 90vw;
  height: fit-content;
  overflow-x: scroll;
  gap: 30px;
  margin: 0px 10px 0px 10px;
}

.event {
  /* display: block; */
  background-color: rgb(73, 165, 231);
  font-size: 18px;
  height: 100%;
  /* height: max-content; */
  width: 280px;
  /* border-radius: 15px; */
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  margin: 25px 0px 25px 20px;
}
.event:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1px 1px 10px rgb(248, 219, 82);
}

.event-bg {
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit: cover; */
  height: 140px;
  /* border-top-left-radius: 15px; */
  /* border-top-right-radius: 15px; */
}

.event-details {
  padding: 20px 10px 15px 10px;
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
  gap: 10px;
}

.event-title {
  font-weight: 500;
  width: 100%;
  height: 25%;
  color: rgba(248, 219, 82, 1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  text-decoration: none;
}

.event-date {
  bottom: 5px;
  right: 10px;
  height: 10%;
  font-size: 14px;
  font-weight: 600;
  color: rgb(193, 76, 36);
}

.venue,
.cost {
  font-size: 14px;
}

.events-type {
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0px 0px 30px;
}

.horizontal-line {
  border: none;
  border-top: 1px solid grey;
  margin: 10px 0;
}

.shadow-custom {
  box-shadow: 0 7px 10px rgba(50, 50, 93, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* ======= Donate2 page ======== */
.slide-enter {
  animation: slideEnter 0.5s forwards;
}

.slide-exit {
  animation: slideExit 0.5s forwards;
}

@keyframes slideEnter {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideExit {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.slide-enter-reverse {
  animation: slideEnterReverse 0.5s forwards;
}

.slide-exit-reverse {
  animation: slideExitReverse 0.5s forwards;
}

@keyframes slideEnterReverse {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideExitReverse {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #767676;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transition-modal {
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
}