/* Featured Projects */

#FeaturedProjects {
  padding-top: 65px;
  margin-bottom: 200px;
}

.FeaturedProjects-title {
  text-align: center;
  font-size: 2rem;
  color: #5c5c5c;
}

.FeaturedProjects-projects {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 20px;
}

/* media */

@media screen and (max-width: 755px) {
  .FeaturedProjects-projects {
    /* background-color: red; */
    flex-direction: column;
  }
}

/* Projects */

.Projects {
  flex: 1;
  flex-basis: 200;
  /* background-color: red; */
  position: relative;
  padding-bottom: 30px;
}

.Projects-title {
  font-size: 2rem;
  margin: 0;
  color: #5c5c5c;
  margin-bottom: 5px;
}

.Projects-img {
  border-radius: 1rem;
}

.Projects-btn {
  padding: 15px 5px;
  background-color: #00a7ed;
  margin: 20px 0 10px;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 1px;
}

.Projects-btn:hover {
  cursor: pointer;
  color: #000000;
  background-color: #ffdb26;
}

.Projects-para {
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 1px;
  color: #5c5c5c;
}
