@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  background-color: #fff;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.triangle {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    rgb(59 130 246 / var(--tw-bg-opacity)) 50%,
    rgb(59 130 246 / var(--tw-bg-opacity)) 100%
  );
}
