#About {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 100px;
}

.About-Youtube {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.About-Youtube-wrapper {
  margin-right: 45px;
}

.About-para {
  color: #5c5c5c;
  font-size: 27px;
  font-weight: normal;
  line-height: 1.5em;
  letter-spacing: 0px;
  padding: 15px 15px 15px 45px;
}
