#Nav {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1200px;
  font-size: 1.1rem;
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.Nav-img {
  width: 100px;
  height: auto;
}

.Nav-links {
  display: flex;
}

.Nav-link-on {
  color: red;
}

.Nav-link:hover {
  color: #00a7ed;
  cursor: pointer;
}

.auth {
  display: flex;
}

.selected {
  font-size: 3rem;
}

@media screen and (max-width: 755px) {
  #Nav {
    padding: 10px 0;
  }
}
